header(class="header-admin")
    div(class="header-logo")
        div(class="header-logo-xoay")
            h2(class="title-logo") trang chủ
            div(class="active-logo") 
    div(class="header-main")